*{
    margin:0;
    padding:0;
}
.cabecalho { 
    background-color: #03662A;
    color : white;
    display: flex;
    justify-content: space-around;
    align-items: center;   
    padding: 24px
}

.cabecalho-imagem{
    width: 500px;
height: 150px;
}

.cabecalho-lista-item{
    display:inline-block;
    margin: 0 70px;
    font-size: 30px;

}