*{
    margin:0;
    padding:0;
}
.cabecalho { 
    background-color: #2C044B;
    color : white;
    display: flex;
    justify-content: space-around;
    align-items: center;   
    padding: 24px
}

.cabecalho-imagem{
    width: 400px;
height: 150px;
}

.cabecalho-lista-item{
    display:inline-block;
    margin: 0 80px;
    font-size: 40px;
    

}

.games{
    background-color: #20009F;
    color : white;
    padding: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.games-div-conteudo{
   margin: 0 80px;
   font-size: 40px;
   
}
.games-titulo{
    padding: 100px 0;
}