*{
    margin:0;
    padding:0;
}
.cabecalho { 
    background-color: #2C044B;
    color : white;
    display: flex;
    justify-content: space-around;
    align-items: center;   
    padding: 24px
}

.cabecalho-imagem{
    width: 400px;
height: 150px;
}

.cabecalho-lista-item{
    display:inline-block;
    margin: 0 70px;
    font-size: 30px;
    

}

.games{
    background-color: #20009F;
    color : white;
    padding: 250px
}